-content_for :body do
 %h2 Manage the incoming issues with ease:)
 %div{style: 'float:right;'}
  = link_to 'Sign out', '/issue_manager/signout', method: :delete, id: 'signout'
 %ul
 - get_view_status_hash.each do |view,status|
  %li
   =link_to(view, {action: 'load_views', status: status}, 'content-type' => 'text/javascript', remote: true)
 #view  
  = render partial: 'load_views', locals: {tickets: @tickets} 